<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=620">
    <title>WeiPocket</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
     <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<div class="navbar">
  <div class="navbar-inner">
    <span class="brand">WeiPocket</span>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>
</script>
</body>
</html>

